
notebooks/.ipynb_checkpoints/Fenabrave ETL-checkpoint.ipynb
*.pdf
scripts/.ipynb_checkpoints/loaddata-checkpoint.py
scripts/__pycache__/loaddata.cpython-312.pyc
scripts/__pycache__/loaddata.cpython-312.pyc
scripts/__pycache__/loaddata.cpython-312.pyc
notebooks/.ipynb_checkpoints/Fenabrave Forecast-checkpoint.ipynb
data/data.csv
data/data.csv
